body{
  background-color: #283149;
  text-align: center;
}
h1
{
  font-size: 7rem;
  color:#DBEDF3;
  font-family:'Arvo',cursive;
  text-shadow: 3px 3px #DA0463;
}
footer{
  color:#DBEDF3;
  margin-top: 5%;
  font-family:'Arvo'
}
.set{
  margin:10% auto;
}
.drum
{
  color: #DA0463;
  font-family:'Arvo',cursive;
  text-shadow: 3px 0 #DBEDF3;
  font-size: 5rem;
  margin:10px;
  border: 10px solid #404B69;
  line-height: 2;
  font-weight: 900;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: white;
}
.w{
  background-image: url("images/crash.png");
}
.a{
  background-image: url("images/kick.png");
}
.s {
  background-image: url("images/snare.png");
}
.d{
  background-image: url("images/tom1.png");
}
.j{
  background-image: url("images/tom2.png");
}
.k{
  background-image: url("images/tom3.png");
}
.l{
  background-image: url("images/tom4.png");
}
/* Animation for the buttons */
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
